.sample-row {
    margin: 0.5em 0;
}
.sample-row > div {
    margin: 0 0.5em;
}
.sample-row > .btn {
    cursor: pointer;
    border: 1px solid skyblue;
    padding: 0.25em 0.5em;
    border-radius: 1em;
}
.sample-row > .btn:hover {
    background: skyblue;
    color: white;
}
.container {
    margin: 1em;
}
.container .row {
    margin: 1em 0;
}
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
